[user]
	email = vareladanmarj@gmail.com
	name = Dan

[difftool]
	prompt = false

[difftool "nvim_difftool"]
  cmd = nvim -c \"packadd nvim.difftool\" -d \"$LOCAL\" \"$REMOTE\"

[diff]
  tool = nvim_difftool

[core]
	autocrlf = input
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  side-by-side = true
  line-numbers = true

[merge]
  conflictStyle = zdiff3
  tool = nvimdiff

[mergetool]
  prompt = false
  keepBackup = false

[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"
